
__pycache__/regalter.cpython-39.pyc
__pycache__/win32mboxconsts.cpython-39.pyc
x86/__pycache__/regalter.cpython-39.pyc
x86/__pycache__/win32mboxconsts.cpython-39.pyc
.vs/ProjectSettings.json
x86/__pycache__/win32mboxconsts.cpython-310.pyc
x86/__pycache__/regalter.cpython-310.pyc
__pycache__/win32mboxconsts.cpython-310.pyc
__pycache__/regalter.cpython-310.pyc
.vs/VSWorkspaceState.json
.vs/slnx.sqlite
.vs/regalter-utility/v17/.suo
.vs/regalter-utility/project-colors.json
